<!DOCTYPE html>
<html>
<head>
	<title>Alterar Pessoas</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/text.css')}}">
	<a id=ali_dir href="/">Inicio</a>
</head>
<body>
	<h1>adicionar pessoa</h1>
	<form action = "/alterar_pessoa">
		Nome: <input type="text" name="nome" value={{nome}} ><br>
		Endereço: <textarea name="endereco">{{endereco}}</textarea><br>
		<input type=hidden value={{id}} name=id>
		<input type="submit" value="Enviar"><br>
	</form>
</body>
</html>